
/* ------------ General Styling ------------ */
svg {
  overflow:none;
  padding:10px;
  float:left;
}

rect    {
  fill:#fff1e0;
}

/* ------------ Pictograms ------------ */

.iconRed {
  fill: #F36052;
}

.iconBlue {
  fill: #06B2DC;
}

.iconGreen {
  fill: #4FB070;
}

.iconOrange {
  fill: #F08743;
}

.iconGray {
  fill: #B0BEC5;
}
