@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');
/* ------------ General Styling ------------ */
svg {
  overflow:none;
  padding:10px;
  float:left;
  text-align: center;
}

.background-rect{
  fill:#fff1e0;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color:	#FAFAFA;

}

h1{
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

/* ------------ Pictograms ------------ */
#graph1{
  display: block;
}

#race{
  margin: 0 auto;
  width:1050px;
}

.iconRed {
  fill: #F36052;
  color: #F36052;
}

.iconBlue {
  fill: #06B2DC;
}

.iconGreen {
  fill: #4FB070;
}

.iconPurple {
  fill: #886C88;
}

.iconGray {
  fill: #B0BEC5;
}

/* ----------- graph 2 ------------- */

.axis, .labels, .axis_label{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.axis_label{
  font-size: 25px;
}
#graph2{
  background-color: #fff1e0;
  padding-left: 25px;
}

.labels{
  font-size: 30px;
}

#armed{
  display: inline-block;
  margin:auto;
}

/* ----------- graph 3 ------------- */
#graph3{
  background-color: #fff1e0;
  padding-right: 40px;
}
