@import url('https://fonts.googleapis.com/css?family=Roboto:900');
@import url('https://fonts.googleapis.com/css?family=Special+Elite');
/* ------------ General Styling ------------ */
svg {
  overflow:none;
  padding:10px;
  float:left;
}

.background-rect{
  fill:#fff1e0;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* ------------ Pictograms ------------ */

.iconRed {
  fill: #F36052;
  color: #F36052;
}

.iconBlue {
  fill: #06B2DC;
}

.iconGreen {
  fill: #4FB070;
}

.iconPurple {
  fill: #886C88;
}

.iconGray {
  fill: #B0BEC5;
}

/* ----------- graph 2 ------------- */

.axis, .labels{
  font-family: 'Special Elite', sans-serif;
  font-size: 16px;
}

#graph2{
  background-color: #fff1e0;
  padding-left: 30px;
}

.labels{
  font-size: 40px;
}
